<div class="notereader-page">

	<!-- Right Hand bar -->
	<div style="margin-top:20px;">
		<div class="title">
			Right hand bar
		</div>
		<div style="position:relative;">
			<svg height="100" width="150" id="right-hand-notebar">
				<line x1="0" y1="30" x2="200" y2="30" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="40" x2="200" y2="40" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="50" x2="200" y2="50" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="60" x2="200" y2="60" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="70" x2="200" y2="70" style="stroke:rgb(0,0,0); stroke-width:1" />
			</svg>
			<%= image_tag("right_hand.png", size: "71x79", style: "position: absolute; left: -5px; top: 12px;" ) %>
		</div>

		
	</div>

	<!-- Left Hand bar -->
	<div>
		<div class="title">
			Left hand bar
		</div>

		<div style="position:relative;">
			<svg height="100" width="150" id="left-hand-notebar">
				<line x1="0" y1="30" x2="200" y2="30" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="40" x2="200" y2="40" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="50" x2="200" y2="50" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="60" x2="200" y2="60" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="70" x2="200" y2="70" style="stroke:rgb(0,0,0); stroke-width:1" />
			</svg>
			<%= image_tag("left_hand.png", size: "28x33", style: "position: absolute; left: 21px; top: 30px;" ) %>
		</div>
	</div>

	<!-- Piano Keys -->
	<div>
		<div class="title">
			Piano keys
		</div>

		<div class="piano">
			<button class="note-button btn btn-info" data-note="a">A</button>
			<button class="note-button btn btn-info" data-note="b">B</button>
			<button class="note-button btn btn-info" data-note="c">C</button>
			<button class="note-button btn btn-info" data-note="d">D</button>
			<button class="note-button btn btn-info" data-note="e">E</button>
			<button class="note-button btn btn-info" data-note="f">F</button>
			<button class="note-button btn btn-info" data-note="g">G</button>
		</div>

		<div>
			<div class="alert alert-success hidden" id="flash-success">
				<strong>Correct!</strong>
			</div>
			<div class="alert alert-warning hidden" id="flash-warning">
				<strong>Wrong!</strong>
			</div>
		</div>
	</div>

	<!-- Piano Keys -->
	<div>
		<div class="title">
			Settings
		</div>

		<div class="settings">
			<div class="note-selection">
				<span>Note Range:</span>
				<input type="number" id="note-min" value="1" class="note-selection-field">
				<input type="number" id="note-max" value="7" class="note-selection-field">
			</div>
		</div>
	</div>

</div>

<script>
	$(window).on('load', function() {

		// =============
		// Node Settings
		// =============

		var noteMin = $("#note-min").val();
		var noteMax = $("#note-max").val();

		$("#note-min").change(function() {
			noteMin = $("#note-min").val();
			if(noteMin > noteMax) {
				noteMin = noteMax;
				$("#note-min").val(noteMin);
			}
			if(noteMin < 1) {
				noteMin = 1;
				$("#note-min").val(noteMin);
			}
		});

		$("#note-max").change(function() {
			noteMax = $("#note-max").val();
			if(noteMax < noteMin) {
				noteMax = noteMin;
				$("#note-max").val(noteMax);
			}
			if(noteMax > 13) {
				noteMax = 13;
				$("#note-max").val(noteMax);
			}
		});

		// =============
		// 		End
		// =============

		var nodeName;		

		$(".note-button").click(function() {
			var clickedNode = $(this).data("note");

			if(clickedNode === nodeName) {
				$("#flash-success").removeClass("hidden");
				$("#flash-warning").addClass("hidden");
			} else {
				$("#flash-success").addClass("hidden");
				$("#flash-warning").removeClass("hidden");
			}

			$('*[data-note=' + nodeName + ']').addClass("btn-success");
			$('*[data-note=' + nodeName + ']').removeClass("btn-info");

			setTimeout(function() {
				reset()
			}, 1000);
		});

		function reset() {
			$("#flash-warning").addClass("hidden");
			$("#flash-success").addClass("hidden");
			$('.note-button').removeClass("btn-success");
			$('.note-button').addClass("btn-info");

			$('#current-node').remove();
			$('#current-help-bar').remove();

			generateNote();
		}

		function lookUpName(number) {
			switch(number % 7) {
				case 0: 
					return "c";
					break;
				case 1: 
					return "d";
					break;
				case 2: 
					return "e";
					break;
				case 3: 
					return "f";
					break;
				case 4: 
					return "g";
					break;
				case 5: 
					return "a";
					break;
				case 6: 
					return "b";
					break;
			}
		}

		function lookUpCoordinates(number) {
			return 80 - (number * 5);
		}

		function placeNode(nodeCoordinates) {
			$("#right-hand-notebar").append('<ellipse cx="90" cy="' + nodeCoordinates + '" rx="7" ry="4" style="fill:white;stroke:black;stroke-width:2"  id="current-node" />');

			if(nodeCoordinates % 10 == 0) {
				$("#right-hand-notebar").append('<line x1="70" y1="' + nodeCoordinates + '" x2="110" y2="' + nodeCoordinates + '" style="stroke:rgb(0,0,0); stroke-width:1" id="current-help-bar" />');
			}

			refreshSVG();
		}

		function refreshSVG() {
			$("#right-hand-notebar").html($("#right-hand-notebar").html());
		}

		function generateNote() {
			var range = noteMax - noteMin;
			var number = Math.floor((Math.random() * (range + 1)) + (noteMin - 1));
			nodeName = lookUpName(number);
			nodeCoordinates = lookUpCoordinates(number);

			placeNode(nodeCoordinates);
		}

		generateNote();
	});
	
</script>
