<div class="notereader-page">

	<!-- Right Hand bar -->
	<div style="margin-top:20px;">
		<div class="title">
			Right hand bar
		</div>
		<div style="position:relative;">
			<svg height="100" width="150" id="right-hand-notebar">
				<line x1="0" y1="30" x2="200" y2="30" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="40" x2="200" y2="40" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="50" x2="200" y2="50" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="60" x2="200" y2="60" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="70" x2="200" y2="70" style="stroke:rgb(0,0,0); stroke-width:1" />
			</svg>
			<%= image_tag("right_hand.png", size: "71x79", style: "position: absolute; left: -5px; top: 12px;" ) %>
		</div>

		
	</div>

	<!-- Left Hand bar -->
	<div>
		<div class="title">
			Left hand bar
		</div>

		<div style="position:relative;">
			<svg height="100" width="150" id="left-hand-notebar">
				<line x1="0" y1="30" x2="200" y2="30" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="40" x2="200" y2="40" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="50" x2="200" y2="50" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="60" x2="200" y2="60" style="stroke:rgb(0,0,0); stroke-width:1" />
				<line x1="0" y1="70" x2="200" y2="70" style="stroke:rgb(0,0,0); stroke-width:1" />
			</svg>
			<%= image_tag("left_hand.png", size: "28x33", style: "position: absolute; left: 21px; top: 30px;" ) %>
		</div>
	</div>

	<!-- Piano Keys -->
	<div>
		<div class="title">
			Piano keys
		</div>

		<div class="piano">
			<button class="note-button btn btn-info" data-note="a">A</button>
			<button class="note-button btn btn-info" data-note="b">B</button>
			<button class="note-button btn btn-info" data-note="c">C</button>
			<button class="note-button btn btn-info" data-note="d">D</button>
			<button class="note-button btn btn-info" data-note="e">E</button>
			<button class="note-button btn btn-info" data-note="f">F</button>
			<button class="note-button btn btn-info" data-note="g">G</button>
		</div>

		<div>
			<div class="alert alert-success hidden" id="flash-success">
				<strong>Correct!</strong>
			</div>
			<div class="alert alert-warning hidden" id="flash-warning">
				<strong>Wrong!</strong>
			</div>
		</div>
	</div>

</div>

<script>
	// random tussen 1 en 5
	var nodeName;

	$(".note-button").click(function() {
		var clickedNode = $(this).data("note");

		if(clickedNode === nodeName) {
			$("#flash-success").removeClass("hidden");
			$("#flash-warning").addClass("hidden");
		} else {
			$("#flash-success").addClass("hidden");
			$("#flash-warning").removeClass("hidden");
		}

		$('*[data-note=' + nodeName + ']').addClass("btn-success");
		$('*[data-note=' + nodeName + ']').removeClass("btn-info");

		setTimeout(function() {
			reset()
		}, 1000);
	});

	function reset() {
		$("#flash-warning").addClass("hidden");
		$("#flash-success").addClass("hidden");
		$('.note-button').removeClass("btn-success");
		$('.note-button').addClass("btn-info");

		$('#current-node').remove();
		$('#current-helper-bar').remove();

		generateNote();
	}

	function lookUpName(number) {
		switch(number) {
			case 0: 
				return "a";
				break;
			case 1: 
				return "b";
				break;
			case 2: 
				return "c";
				break;
			case 3: 
				return "d";
				break;
			case 4: 
				return "e";
				break;
			case 5: 
				return "f";
				break;
			case 6: 
				return "g";
				break;
		}
	}

	function lookUpCoordinates(number) {
		switch(number) {
			case 0: 
				return 80;
				break;
			case 1: 
				return 75;
				break;
			case 2: 
				return 70;
				break;
			case 3: 
				return 65;
				break;
			case 4: 
				return 60;
				break;
			case 5: 
				return 55;
				break;
			case 6: 
				return 50;
				break;
		}
	}

	function placeNode(nodeCoordinates) {
		$("#right-hand-notebar").appendNode('<ellipse cx="90" cy="' + nodeCoordinates + '" rx="7" ry="4" style="fill:white;stroke:black;stroke-width:2"  id="current-node" />');

		if(nodeCoordinates % 10 == 0) {
			$("#right-hand-notebar").appendNode('<line x1="70" y1="' + nodeCoordinates + '" x2="110" y2="' + nodeCoordinates + '" style="stroke:rgb(0,0,0); stroke-width:1" id="current-help-bar" />');
		}
	}

	function generateNote() {
		var number = Math.floor(Math.random() * 7);
		nodeName = lookUpName(number);
		nodeCoordinates = lookUpCoordinates(number);

		placeNode(nodeCoordinates);
	}

	generateNote();
</script>
