.footer {
	 position: relative;
	 bottom: 5px;
	 width: 100%;
	 margin-top: 30px;
}

.header {

}

.notereader-page {
	margin: 10px 10px;

	.hidden {
		display: none;
	}

	.piano {
		margin: 10px;
	}

	.alert {
		margin: 0px 10px;
	}

	.title {
		margin: 10px 0px;
	}

	.note-selection-field {
		width: 50px;
	}

}

